@{
    ViewData["Title"] = "Home Page";
}

<body style="background-image: url('/consumer_background.jpg'); background-position: center; background-size: cover; background-attachment: fixed;">
    <div class="container">
        <div class="row">
            <div class="col-lg-7" style="margin-top:220px; margin-left:275px">
                <h1 class="display-1 text-white" style="font-weight: 700">CONSUMERS</h1>
                <p class="text-white" style="margin-left:10px; font-size:200%">Register as a user to immerse in a variety <br/>of music and playlist.</p>
            </div>
        </div>
    </div>
</body>